<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="720" />

  </system.web>
  <appSettings configSource="Config\appconfig.config"/>
  <system.serviceModel>

    <bindings>
      <webHttpBinding>
      </webHttpBinding>

      <wsHttpBinding>
        <binding name="WebUI.WebService.ICertSignatureService.RefService.Bind" closeTimeout="00:30:00"
                 openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommandService" />
      </basicHttpBinding>
    </bindings>
    
    <!--请求本地签章服务-->
    <client>
      <endpoint address="http://localhost:6000/SignCertWindowService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommandService"
        contract="SignCertWindowServiceProxy.ICommandService" name="BasicHttpBinding_ICommandService" />
    </client>
    
    <!--services_start-->
    <services>
      <service name="WebUI.WebService.ThirdPartyInterface">
        <endpoint address="" behaviorConfiguration="WebUI.WebService.ThirdPartyInterfaceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.WebService.ThirdPartyInterface" />
      </service>
      <service  behaviorConfiguration="WebUI.WebService.CertSignatureService.ServiceBehavior" name="WebUI.WebService.CertSignatureService">
        <endpoint name="ajaxService" contract="WebUI.WebService.ICertSignatureService" kind="webHttpEndpoint" behaviorConfiguration="WebUI.WebService.ICertSignatureService.AjaxService.EndpointBehavior"/>
        <endpoint name="refService" contract="WebUI.WebService.ICertSignatureService" address="ref" binding="wsHttpBinding"  bindingConfiguration="WebUI.WebService.ICertSignatureService.RefService.Bind"  />
      </service>
    </services>
    <!--services_end-->
    <!--behaviors_start-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebUI.WebService.ThirdPartyInterfaceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebUI.WebService.ICertSignatureService.AjaxService.EndpointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="">        
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="WebUI.WebService.CertSignatureService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    <!--behaviors_end-->
    <!--serviceHostingEnvironment_start-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--serviceHostingEnvironment_end-->
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="managelogin.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <applicationSettings>
        <WebUI.Properties.Settings>
            <setting name="WebUI_cn_b2m_eucp_sdk4report_SDKService" serializeAs="String">
                <value>http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService</value>
            </setting>
        </WebUI.Properties.Settings>
    </applicationSettings>
</configuration>
