<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!--数据库链接字符串_Begin-->
	<!--249-->
	<!--<add key="FcmsConn" value="sP4l684NdLAndM1ibA3EVOoQqWty7YdQBH0blvsoLMsOKS0bOs1QqrJbzWAVVGWpzO4Nrsa8kjEFEqlbFcD23fkT+Wu7MAsw" />-->
	<!--40-->
	<!--<add key="FcmsConn" value="sP4l684NdLAndM1ibA3EVKMvBVTK6yqC8eoY1cw+Fb4Sv3S9hXs2b615pZg2hNs6j53wJvzG/DvfkPK59LNu/jGjLxVL/mXB" />-->
	<!--45-->
	<add key="FcmsConn" value="sP4l684NdLAndM1ibA3EVEc/BLZFsa8BFofPLqwO1YFNxFPIPomoUzUDKpZxeU/KoexctKFcj/4ynDNoI+7FuUMtRoX6kOLo" />

	<!--电子签章系统数据库-->
	<add key="EnableEncodeConnString" value="false" />
	<add key="CertConnectionString" value="Data Source=192.168.1.249;Initial Catalog=CertSign;User ID=sa;Password=Test2013" />
	<add key="qianzhangConnectionString" value="Data Source=192.168.1.44;Initial Catalog=qianzhang;Persist Security Info=True;User ID=moxiaodong;Password=rjb@123" />

	<!--电子章系统其他服务-->
	<add key="SealFolder" value="C:\Seals#\"/>
	<add key="CfcaSealUrl" value="http://192.168.1.46:8000/APWebPF/CfcaCertServlet"/>

	<!--通联支付接口_Begin-->
	<add key="userName" value="20060400000044502"/>
	<add key="password" value="111111"/> 
	<add key="merchantId" value="200604000000445"/>
	<add key="businessCode" value="09900"/>
	<add key="url" value="https://113.108.182.3/aipg/ProcessServlet"/>
	<add key="returnUrl" value="http://www.fcms.com/Member/allinpay/Receive.aspx"/>
	<add key="signCertUrl" value="D:\allinpay-pds-test\20060400000044502.p12"/>
	<add key="verifyCertUrl" value="D:\allinpay-pds-test\allinpay-pds.cer"/>
	<!--通联支付接口_End-->
	<!--连连支付接口_Begin-->
	<add key="YT_PUB_KEY" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCSS/DiwdCf/aZsxxcacDnooGph3d2JOj5GXWi+q3gznZauZjkNP8SKl3J2liP0O6rU/Y/29+IUe+GTMhMOFJuZm1htAtKiu5ekW0GlBMWxf4FPkYlQkPE0FtaoMP3gYfh+OwI+fIRrpW3ySn3mScnc6Z700nU/VYrRkfcSCbSnRwIDAQAB"/>
	<add key="TRADER_PRI_KEY" value="MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAMlGNh/WsyZSYnQcHd9t5qUkhcOhuQmozrAY9DM4+7fhpbJenmYee4chREW4RB3m95+vsz9DqCq61/dIOoLK940/XmhKkuVjfPqHJpoyHJsHcMYy2bXCd2fI++rERdXtYm0Yj2lFbq1aEAckciutyVZcAIHQoZsFwF8l6oS6DmZRAgMBAAECgYAApq1+JN+nfBS9c2nVUzGvzxJvs5I5qcYhY7NGhySpT52NmijBA9A6e60Q3Ku7vQeICLV3uuxMVxZjwmQOEEIEvXqauyYUYTPgqGGcwYXQFVI7raHa0fNMfVWLMHgtTScoKVXRoU3re6HaXB2z5nUR//NE2OLdGCv0ApaJWEJMwQJBAPWoD/Cm/2LpZdfh7oXkCH+JQ9LoSWGpBDEKkTTzIqU9USNHOKjth9vWagsR55aAn2ImG+EPS+wa9xFTVDk/+WUCQQDRv8B/lYZD43KPi8AJuQxUzibDhpzqUrAcu5Xr3KMvcM4Us7QVzXqP7sFc7FJjZSTWgn3mQqJg1X0pqpdkQSB9AkBFs2jKbGe8BeM6rMVDwh7TKPxQhE4F4rHoxEnND0t+PPafnt6pt7O7oYu3Fl5yao5Oh+eTJQbyt/fwN4eHMuqtAkBx/ob+UCNyjhDbFxa9sgaTqJ7EsUpix6HTW9f1IirGQ8ac1bXQC6bKxvXsLLvyLSxCMRV/qUNa4Wxu0roI0KR5AkAZqsY48Uf/XsacJqRgIvwODstC03fgbml890R0LIdhnwAvE4sGnC9LKySRKmEMo8PuDhI0dTzaV0AbvXnsfDfp"/>
	<add key="MD5_KEY" value="Um8rwcnjc+a1pLvyZCF7gU8Gd6s+/mbJr+ctdKwJT9c="/>
	<add key="NOTIFY_URL" value="http://183.56.152.210:99/API/llNotifyUrl.ashx"/>
	<add key="OID_PARTNER" value="201506291000389502"/>
	<add key="BUSI_PARTNER" value="101001"/>
	<!--连连支付接口_End-->
	<!--鹏元征信接口_Begin-->
	<add key="zx_UserID" value="324324324324234"/>
	<add key="zx_Pwd" value="111111"/>
	<!--鹏元征信接口_End-->
	<!--合同虚拟&物理路径-->
	<add key="contractVirtualPath" value="http://192.168.1.249:88/contract/"/>
	<add key="contractPhysicallPath" value="D://files/contract/"/>

	<!--图片虚拟&物理路径-->
	<add key="imgVirtualPath" value="http://192.168.1.45:88/img/"/>
	<add key="imgPhysicallPath" value="D://files/img/"/>
	<!--身份证照片虚拟&物理路径-->
	<add key="idPhotoVirtualPath" value="http://192.168.1.45:88/photo/"/>
	<add key="idPhotoPhysicallPath" value="D://files/photo/"/>
	<!--借款标审核附件虚拟&物理路径-->
	<add key="loanFileVirtualPath" value="http://192.168.1.249:8088/loanFile/"/>
	<add key="loanFilePhysicallPath" value="D://files/loanFile/"/>
	<!--APP应用文件虚拟&物理路径-->
	<add key="appFileVirtualPath" value="http://192.168.1.249:8088/app/"/>
	<add key="appFilePhysicallPath" value="D://files/app/"/>
</appSettings>
